Source: python-gevent
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Laszlo Boszormenyi (GCS) <gcs@debian.org>,
           Sandro Tosi <morph@debian.org>,
Build-Depends: cython3,
               debhelper-compat (= 13),
               dh-exec,
               dh-python,
               libc-ares-dev,
               libev-dev,
               libevent-dev,
               libpython3.11-testsuite <!nocheck>,
               libuv1-dev,
               python3-all-dev,
               python3-cffi,
               python3-dnspython <!nocheck>,
               python3-greenlet (>= 2.0.0),
               python3-psutil <!nocheck>,
               python3-repoze.sphinx.autointerface,
               python3-setuptools,
               python3-sphinx,
               python3-sphinxcontrib.programoutput,
               python3-zope.event <!nocheck>,
Standards-Version: 4.6.1
Section: python
Homepage: https://www.gevent.org/
Vcs-Git: https://salsa.debian.org/python-team/packages/python-gevent.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-gevent

Package: python-gevent-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: libjs-jquery,
         ${misc:Depends},
Description: gevent is a coroutine-based Python networking library - documentation
 gevent uses greenlet to provide a high-level synchronous API on top of
 libevent event loop.
 .
 This is the documentation for gevent.

Package: python3-gevent
Architecture: any
Depends: python3-greenlet (>= 2.0.0),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
Provides: ${python3:Provides},
XB-Python-Version: ${python3:Versions}
Suggests: python-gevent-doc,
          python3-openssl,
Description: gevent is a coroutine-based Python networking library
 gevent uses greenlet to provide a high-level synchronous API on top of
 libevent event loop.
